#!/bin/bash

#SBATCH --job-name=<%= job.name %>
#SBATCH --output=<%= log.file %>
#SBATCH --error=<%= log.file %>
#SBATCH --ntasks=1
#SBATCH --cpus-per-task=<%= resources$ncpus %>
#SBATCH --mem-per-cpu=<%= resources$memory %>
#SBATCH --partition=<%= resources$partition %>


# Sourcing the .bashrc file
source /users/usumusu/.bashrc


# Run R script
Rscript -e 'batchtools::doJobCollection("<%= uri %>")'
