#!/bin/bash

#SBATCH --account=usumusu
#SBATCH --job-name=<%= job.name %>
#SBATCH --output=<%= log.file %>
#SBATCH --error=<%= log.file %>
#SBATCH --ntasks=1
#SBATCH --cpus-per-task=<%= resources$ncpus %>
#SBATCH --mem-per-cpu=<%= resources$memory %>
#SBATCH --partition=<%= resources$partition %>

## Initialize work environment like
## - loading modules
## - switching to project dir
## - setting environment variables


# Sourcing the .bashrc file
source ~/.bashrc

# Change to the project directory
cd <%= resources$work_dir %>

# Run R script
Rscript -e 'batchtools::doJobCollection("<%= uri %>")'
